<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="germanyiscalling.AssesmentGIC.SuccessfulLogin" />
			<class name="germanyiscalling.AssesmentGIC.UnscessfulLoginSc1" />
			<class name="germanyiscalling.AssesmentGIC.UnscessfulLoginSc2" />
			<class name="germanyiscalling.AssesmentGIC.UnscessfulLoginSc3" />
			<class name="germanyiscalling.AssesmentGIC.UnscessfulLoginsc4" />
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->

